# Automation Webhook Configuration (e.g. n8n, Zapier, Make, or custom API)
VITE_LEAD_WEBHOOK_URL= https://kk1221.app.n8n.cloud/webhook-test/d86c19d7-b572-4a8b-bba0-d3c7465d268d

# Meta Pixel / CAPI Configuration (Optional browser pixel ID)
# VITE_META_PIXEL_ID=
